@charset "utf-8";
/*
**************************************************
CSSデフォルト設定
**************************************************
*/
ol {
marign-left:0px;
margin-right:25px;
}

ul {
margin-left:0px;
margin-right:25px;
}